@model EncoOrszag.Models.HaboruViewModel
@{
   ViewBag.Title = "Háború";
}
<div ng-app="haboruApp" ng-controller="haboruController">
   <h2>Háború</h2>

   {{model | json}}

   {{ujhadsereg | json}}
   <table class="table">
      <thead>
         <tr>
            <th>Egység</th>
            <th>Támadás</th>
            <th>Védekezés</th>
            <th>Összesen Van</th>
            <th>Jelenleg Van</th>

         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="egyseg in model.JelenlegiEgysegek">
            <td>
               {{egyseg.Name}}
            </td>
            <td>
               {{egyseg.Tamadas}}
            </td>
            <td>
               {{egyseg.Vedekezes}}
            </td>
            <td>
               {{egyseg.OsszesenVan}}
            </td>
            <td>
               {{egyseg.JelenlegVan}}
            </td>
         </tr>
      </tbody>
   </table>

   <table class="table">
      <thead>
         <tr>
            <th>Hadsereg</th>
            <th>Célország</th>
            <th ng-repeat="egyseg in model.JelenlegiEgysegek">
               {{egyseg.Name}}
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="hadsereg in model.Hadseregek">
            <td>
               {{hadsereg.Id}}
            </td>
            <td>
               {{hadsereg.CelOrszag}}
            </td>
            <td ng-repeat="egyseg in hadsereg.HadseregEgysegek">
               {{egyseg.Darab}}
            </td>
         </tr>


         <tr>
            <td>
               Támadás új hadsereggel
            </td>
            <td>
               <select ng-model="ujhadsereg.CelOrszagId">
                  <option ng-repeat="orszag in model.Orszagok" value="{{orszag.Value}}">{{orszag.Text}}</option>
               </select>
            </td>
            <td ng-repeat="egyseg in model.JelenlegiEgysegek">
               <input type="number" ng-model="ujhadsereg.HadseregEgysegek[$index].Darab" min="0" />

            </td>
            <td>
               <button class="btn btn-success" ng-click="ujhadseregletrehozas()">Indítás</button>
            </td>
         </tr>

      </tbody>
   </table>



</div>




@section scripts{
   @Scripts.Render("/bundles/angular")
   <script>
      var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
   </script>
   <script>
      (function () {

         "use strict";

         angular.module("haboruApp", [])
         .controller("haboruController", ["$scope", "$window", function($scope, $window){
            $scope.model = $window.model;


            function Ujhadsereg (){
               var ujhadsereg = {

                  CelorszagId : null,
                  HadseregEgysegek : []
               };

               angular.forEach($scope.model.JelenlegiEgysegek, function (value, key){
                  ujhadsereg.HadseregEgysegek.push({
                     Id: value.Id,
                     Egyseg: value.Name,
                     Darab: 0
                  });
               })
               return ujhadsereg;
            }

            $scope.ujhadsereg = Ujhadsereg();
            $scope.ujhadseregletrehozas = function(){
               $http.post('/Haboru/Ujhadsereg', $scope.ujhadsereg).then(
                  function (response){
                     if (response.data.Success){
                        $scope.model.Hadseregek.push(response.data.UjHadsereg);
                        $scope.ujhadsereg = Ujhadsereg();
                        alert("Sikeresen elindítottad a hadsereget!");
                     }
                  }, function (response){
                     alert("HTTP hiba");
                  });
            }
         }]);


      })();
   </script>

}
